<div *ngIf="car1" class="col-md-8 floal-left card card-body">
    <img src="{{car1.imgUrl}}" alt="" style="height: 550px;">
    <h2 class="text-center">{{car1.name}}</h2>
    <h3>{{car1.des}}</h3>
    <p>{{car1.des1}}</p>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    